* {
    padding: 0;
    margin: 0;
}

.MainLoginForm {
    width: 700px;
    background-color: aquamarine;
    margin: 0 auto;
}

.MainLoginForm .ButtonNav {
    margin-top: 40px;
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.MainLoginForm .ButtonNav input {
    width: 130px;
    height: 40px;
}

.MainLoginForm .FormLog {
    background-color: darkgrey;
}

.MainLoginForm .FormLog .LoginMetad {
    width: 100%;
    display: flex;
    justify-content: center;
}
.MainLoginForm .FormLog .LoginMetad div{
    display: flex;
    justify-content: center;
}