* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*-- MainBlocCoverAccount --*/
.MainBlocCoverAccount{
    display: flex;
}

/*-- MenuAccount --*/
.MenuAccount{
    width: 20%;
    background-color: aliceblue;
    border: 1px solid;
    padding-left: 50px;
}
.MenuAccount .imgFrofil img{
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.MenuAccount .InfoUserInMenu{
    margin-top: 20px;

}
.MenuAccount .InfoUserInMenu p{
    font-size: 18px;
   margin-top: 10px;
}
.MenuAccount .InfoUserInMenu p .status-work{
    font-weight: bold;
    color: black;
}
.MenuAccount .linksMenu{
    margin-top: 15px;
}
.MenuAccount .linksMenu ul li{
    margin-top:5px ;

}
.MenuAccount .linksMenu ul li a{
    color: darkgrey;
}
.MenuAccount .linksMenu ul li .InSelect{
    color: black;
}

/*-- MainBlockAccount --*/
.MainBlockAccount{
    width: 60%;
    background-color: dodgerblue;
}
.MainBlockAccount h1{
    margin: 10px 10px;
    margin-left: 20px;
}
.MainBlockAccount p{
    margin: 10px 10px;
    margin-left: 20px;
}
.MainBlockAccount ul{

    margin: 10px 10px;
    margin-left: 60px;
    list-style-type: disc;
}

/*-- Users --*/
.Users{
    width: 20%;
    background-color: darkgrey;
}