* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

body {

}

.Main-block {
    border: 1px solid red;
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
}

.Navigation-block {
    border: 1px solid dodgerblue;
    width: 509px;
    height: 1616px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.all-elements-nav {
    padding-left: 61px;
    padding-top: 71px;
}

.profile {
    padding-top: 46px;
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 100%;
    border: 1px solid red;
    width: 73px;
    height: 73px;
}

.profile p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 10px;
}

.main-navi {
    padding-top: 90px;

}

.AlseIcons {
    transition: 1s;
    margin-top: 72px;
    display: flex;
    align-items: start;
}

.AlseIcons p {
    padding-left: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    line-height: 47px;
}

.ProfilIcon {
    display: flex;
    align-items: start;

}

.ProfilIcon-text {
    padding-top: 20px;
    font-style: normal;
    font-weight: 200;
    font-size: 40px;
    padding-left: 40px;
    position: relative;
}

.ProfileIcpn-Test-p-false {
    display: none;
}

.ProfileIcpn-Test-p-true {
    padding-top: 36px;
    transition: 2s;
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100%
    }
}

.VectorTrue {
    position: absolute;
    animation: ani 2s forwards;
    width: 22px;
    height: 22px;
    right: -50px;
    top: 33px;

}

.VectorTrue:hover {
    width: 18px;
    height: 18px;
    transition: 1s;
}

.VectorFals {
    position: absolute;
    animation: ani 2s forwards;
    width: 22px;
    height: 22px;
    right: -50px;
    top: 113px;
    transform: rotate(180deg);

}

.VectorFals:hover {
    width: 18px;
    height: 18px;
    transition: 1s;
}

/* main-content */
.Main-content {

}

.mainChaend {
    padding-top: 115px;
    padding-left: 98px;
}

.main-info {
    display: flex;
}

.lardge-foto img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border: 10px solid;
    background: conic-gradient(from 149.25deg at 50% 50%, #00F536 -109.67deg, #3ED1FF 29.46deg, #FC037B 171.8deg, #00F536 250.33deg, #3ED1FF 389.46deg);
    border-image-source: conic-gradient(from 149.25deg at 50% 50%, #00F536 -109.67deg, #3ED1FF 29.46deg, #FC037B 171.8deg, #00F536 250.33deg, #3ED1FF 389.46deg);
}

.info-profil {
    padding-left: 100px;
    text-align: center;
    width: 754px;
}

.Name-InfoProfil {
    font-family: 'Bruno Ace';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}

.JobSearch-InfoProfil {
    padding-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #201F1F;
}

.Checkbox-InfoProfil {
    display: inline-block;
    background: #FDFDFD;
    border: 1px solid rgba(81, 80, 80, 0.56);
    border-radius: 5px;
}

.ProfessionSkils-InfoProfil {
    padding-top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #201F1F;
}

.ProfessionsSkils-text-InfoProfil {
    padding-top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #0E0E0E;
}

.About-InfoProfil {
    padding-top: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.About-text-InfoProfil {
    color: #201F1F;
    padding-top: 13px;
    width: 754px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.Menu-recomen {
    width: 1354px;
    padding-top: 77px;
    display: flex;
    justify-content: space-between;
}

.seatch-menu {
    width: 328px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px;
}

.one-pas img {
    padding-left: 30px;
    width: 30px;
    height: 30px;
}

.social-InfoProffil img {
    margin-right: 10px;
}

.one-pas {
    display: flex;
    align-items: center;
    position: relative;
}

.recomend-menu {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0E0E0E;
}

.two-pas img {
    width: 30px;
    height: 30px;
    padding-right: 25px;
}

.two-pas {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

/*pass content*/
.content-functional {
    width: 1354px;
    display: flex;
    justify-content: space-between;
    margin-left: 85px;
    padding-top: 15px;
}

.one-pass-block-content {
    width: 701px;
    background: #FFFFFF;
    border: 1px solid #DFDBDB;
    border-radius: 8px;

}

.two-pas-block-content {
    background: #FFFFFF;
    border: 1px solid #CDC2C2;
    border-radius: 8px;
    width: 602px;
}

.one-pass-info-black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 27px 45px 30px;
}

.one-pas-info {
    display: flex;
    align-items: center;
    position: relative;
}

.one-pass-info-img img {
    width: 100px;
    height: 100px;
}

.one-pas-info-text {
    padding-left: 32px;
}

.one-pas-info-text-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.one-pas-info-text input {
    margin-left: 20px;
    width: 20px;
    border-radius: 5px;
    padding-top: 5px;
    border: 1px solid rgba(81, 80, 80, 0.56);
    height: 20px;
}

.one-pas-info-text-qvalete {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0E0E0E;
}
.one-pas-function input{
    width: 227.17px;
    height: 40px;
    background: #D6D6D6;
    border-radius: 6px;
    border: none ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

.two-pas-function input{
    width: 227px;
    height: 40px;
    background: #80E3FF;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.two-pass-info-block{
    padding: initial;
    /*margin: 40px 15px 10px 14px;*/
    margin: 35px 15px 45px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* customiza select*/
.one-pass-customisazia{
    width: 317px;
    height: 231px;
    background: #D9D9D9;
    position: absolute;
    right: -327px;
    top: -200px;
    display: flex;
    z-index: 1;
}
.change-customizat{
    display: flex;
    w
    padding: 37px 20px 40px 40px;
}